body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(to right, #B2B2EF, #FFFFFF);
}

.heading {
  text-align: center;
  position: relative; /* To center the title*/
  top: 50px; /*To vertically adjust the title*/
  font-size: 70px;
  font-family: 'algerian', sans-serif;
  color: #142270;
}

/*Images:*/
.jun_img{
  position: absolute; /* to move it easily using positioning attributes like top and left*/
  left: 20%;
  top: 50%;
  transform: translate(-20%,-50%);
  width: 300px;
  height: 400px;
}

.abraiz_img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 400px;
}
.ehtisham_img{
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-80%,-50%);
  width: 300px;
  height: 400px;
}

/*Texts below images*/
.jun{
  text-align: center;
  position: absolute;
  top: 680px;
  left: 410px;
  font-size: 30px;
  font-family: 'Garamond', sans-serif;
}

.abraiz{
  text-align: center;
  position: absolute;
  top: 680px;
  left: 880px;
  font-size: 30px;
  font-family: 'Garamond', sans-serif;

}

.ehtisham{
  text-align: center;
  position: absolute;
  top: 680px;
  left: 1350px;
  font-size: 30px;
  font-family: 'Garamond', sans-serif;

}

.role{
  color: gray;
  font-style: italic;
}

.menu {
  height: 100%; /* takes complete verticle screen */
  width: 0; /* changes with JavaScript when menu_box is clicked*/
  position: fixed; /* keeps the menu in place */
  top: 0;
  background-color: #030f54;
  overflow-x: hidden; /* disable horizontal scroll */
  padding-top: 100px; /* places content 100px from the top */
  transition: 0.5s; /* transition effect to slide in the menu instead of just pop it*/
}

/*links in the Menu*/
.menuLinks {
  margin-left: 20px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 25px;
  color: #b4beed;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

ul {
  color: #b4beed;
  font-size: 20px;
  list-style: square; /* changes bullets from discs to squares */
}

.menuLinks:hover {
  color: #6561d4;
}

/* The box used to open/close the menu */
.menu_div {
  background-color: #142270;
  margin-left: 20px;
  border-radius: 15px;
  bottom: 20px;
  position: fixed;
  line-height: 15px;
  top: 20px;
  height: 50px;
  width: 130px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #b4beed;
  cursor: pointer;
}
.menu_div:hover {
  background-color: #6775b5;
}

#menu_box {
  transition: margin-left .5s; /* transition effect for the menu_box movement*/
}
