body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.bg-image {
  background-image: url("images/hands.png"),linear-gradient(to Bottom, #B2B2EF, #FFFFFF);
  height: 1080px;
  width: 1920px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}
.title {
  text-align: center;
  position: relative;
  top: 30%;
  font-size: 70px;
  font-family: 'algerian', sans-serif;
  color: #1118EC;
}
.video-box {
  border-radius: 12px;
  margin: auto;
  position: relative;
  top: 380px;
  right: 150px;
  text-align: center;
  line-height: 50px;
  background-image: radial-gradient(#5F70BE, #CACFE8);
  width: 150px;
  height: 50px;
}

.synopsis-box {
  border-radius: 12px;
  margin: auto;
  position: relative;
  top: 330px; /*Video Box's height is 50px, so this box is 50px below*/
  left: 150px;
  text-align: center;
  line-height: 50px;
  background-image: radial-gradient(#5F70BE, #CACFE8);
  width: 150px;
  height: 50px;
}

#vid-link {
  text-decoration: none;
  font-size: 30px;
  color: #252198;
}
#syn-link{
  text-decoration: none;
  font-size: 30px;
  color: #252198;
}
