body {
  margin: 0;
  font-family: 'Georgia', sans-serif;
  background-image: linear-gradient(to right, #B2B2EF, #FFFFFF);
}

.film {
  /*Center the Video*/
  margin: auto;
  display: block;
  position: relative;
  top: 20px; /*Adjust vertically*/
  height: 700px;
}

.solution{
  position: absolute; /*To easily put image where we want*/
  width: 180px;
  height: 200px;
  top: 750px;
  left: 520px;
}

.title {
  position: absolute;
  font-size: 25px;
  top: 750px;
  left: 720px;
  color: #383838;
  font-family: "Garamond",sans-serif;
}

.about_film{
  position: absolute;
  font-size: 15px;
  top: 782px;
  left: 720px;
  color: #808080;
  font-family: "Georgia",sans-serif;
  font-style: italic;
}

.details{
  position: absolute;
  font-size: 15px;
  top: 800px;
  left: 700px;
  font-family: "Georgia",sans-serif;
  color: #000000;
}

.bold{ /*To bold the details' headings*/
  font-weight: bold;
}

.menu {
  height: 100%; /* takes complete verticle screen */
  width: 0; /* changes with JavaScript when menu_box is clicked*/
  position: fixed; /* keeps the menu in place */
  top: 0;
  background-color: #030f54;
  overflow-x: hidden; /* disable horizontal scroll */
  padding-top: 100px; /* places content 100px from the top */
  transition: 0.5s; /* transition effect to slide in the menu instead of just pop it*/
}

/*links in the Menu*/
.menuLinks {
  margin-left: 20px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 25px;
  color: #b4beed;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

ul {
  color: #b4beed;
  font-size: 20px;
  list-style: square; /* changes bullets from discs to squares */
}

.menuLinks:hover {
  color: #6561d4;
}

/* The box used to open/close the menu */
.menu_div {
  background-color: #142270;
  margin-left: 20px;
  border-radius: 15px;
  bottom: 20px;
  position: fixed;
  line-height: 15px;
  top: 20px;
  height: 50px;
  width: 130px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #b4beed;
  cursor: pointer;
}

.menu_div:hover {
  background-color: #6775b5;
}

#menu_box {
  transition: margin-left .5s; /* transition effect for the menu_box movement*/
}
